<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>{{ pageTitle or site.title }}</title>

    <meta
      name="description"
      content="{{ site.description }}"
    />
    <meta name="author" content="{{ site.author }}" />

    <!-- Icons -->
    <link
      rel="icon"
      href="/{{ site.profile.portrait }}"
      type="image/jpeg"
    />
    <link
      rel="apple-touch-icon"
      href="/{{ site.profile.portrait }}"
    />

    <!-- Inter web font from bunny.net (GDPR compliant) -->
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Tailwind CSS Play CDN (mostly for development/testing purposes) -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <!-- Tailwind CSS v4 Configuration -->
    <style type="text/tailwindcss">
      /* Class based dark mode */
      @custom-variant dark (&:where(.dark, .dark *));

      /* Theme configuration */
      @theme {
        /* Fonts */
        --default-font-family: "Inter";
      }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
